body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background: #f5c1c1;
}

.content {
  flex: 1;
  padding: 90px 30px 30px;
}


    .nav {
    display: flex;
    align-items: center;
    gap: 9%;
}

.dropdown {
    position: relative;
}
#toggleTransaksi {
    display: none;
}
.dropbtn {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    color: aqua;
    font-size: 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 9999; 
    top: 100%;
    left: 0;
    background-color: #203a43;
    min-width: 180px;
    border-radius: 6px;
    margin-top: 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}
#toggleTransaksi:checked + .dropbtn + .dropdown-content {
    display: block;
}
.dropdown-content a {
    padding: 10px 14px;
    display: block;
    font-size: 14px;
    text-decoration: none;

}
.dropdown-content a:hover {
    background-color: #2c5364;
}

:root {
    scroll-behavior: smooth;
}
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364); 
    color: white;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 9999;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding: 0px 40px;
    justify-content: space-between;
}
.layout {
    background: aquamarine;
    padding: 100px;
    text-decoration: #0f2027;
}
.navbar a {
    color: aqua;
    margin-left: 24px;
    text-decoration: none;
    font-size: 16px;
}
.h2{
    align-content: center;
}

.backt{
   color:rgb(11, 37, 64);
   display: inline-block;
   text-align: center;
   padding-top: 10px;
   flex: 1;
   align-items: center;
   justify-content: center;
   background: rgba(255, 255, 255, 0.25);
   backdrop-filter: blur(10px);
   border-radius: 15px;
   padding: 25px;
   box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}


.transaksi{
    box-sizing: border-box;
    font-family: "Inter", "Segoe UI", sans-serif;
}

.table{
    background: #24e0fd;
    width: 100%;
    align-content: center;
    max-width: 520px;
    padding: 32px;
    border-radius: 22px;
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.12);
    transition: all 0.35s ease;
    
}
.formcard {
    background: linear-gradient(135deg, #22d3ee, #38bdf8);
    padding: 35px 45px;
    border-radius: 25px;
    width: 500px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
}
.formcard td {
    padding: 12px 10px;
    margin-top: 15px;
    color: #0f172a;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    vertical-align: top;
}
.formcard td:first-child {
    width: 30%;
    text-align: left;
    font-weight: 500;
    padding-right: 15px;
    vertical-align: top;
}

.formcard td:last-child {
    width: 70%;
}
.formcard input[type="text"],
.formcard input[type="date"],
.formcard select,
.formcard textarea {
    width: 100%;
    padding: 10px 14px;
    border-radius: 12px;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    box-shadow: inset 0 2px 6px rgba(0,0,0,0.15);
    transition: 0.3s ease;
}
.formcard input:focus,
.formcard select:focus,
.formcard textarea:focus {
    box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.6);
}
.formcard textarea {
    resize: none;
}

.formcard input[type="submit"]{
    background: linear-gradient(135deg, #0284c7, #0ea5);
    color: rgb(245, 246, 247);
    padding: 12px 28px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.formcard input[type="submit"]:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(2, 132, 199, 0.5);
}



.span {
    width: 100px;
    padding: 1px;
    text-align: center;
    background: #528296;
    color: aqua;
    border-radius: 15px;
    transition: transform 0.5s;
    }

        .section {
            padding: 10px 30px;
            display: none; 
        }
        .section.active {
            display: block; 
            text-align: center;
        }
       

    .footer {
        width: 100%;
        background: linear-gradient(90deg, #0f2027, #203a43, #2c5364); 
        padding: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .fcenter {
      display: flex;
      color: aquamarine;
      justify-content: center;
        align-items: center;
        gap: 10px;
        flex-direction: column;
    }

  footer .social_icon a:hover {
    opacity: 1;
}

footer p
{
    color: rgb(14, 235, 172);
    font-size: 11px;
    font-family: 'inter', sans-serif;
}

.social_icon a {
    font-size: 1.2em;
}
.social_icon a{
    font-size: 1em;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    border-radius: 18px;
    font-weight: 400;
    transition: 0.5s ease;
    margin-right: 10px;
    color: rgb(6, 83, 151);
    padding: 0;
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}    

.social_icon a:hover {
   transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(12, 148, 211, 0.4);
}

.content{
    background-image: url("images/orang2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  
}
main{
  min-height: 100vh;
    margin-top: 80px;

}
.login-page {
    background-image: url("images/perpusModern.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 10px 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgba(203, 160, 32, 0.6);
    outline: none;
    color: #104356;
    font-size: 14px;
}
.input-box label {
    position: absolute;
    left: 5px;
    top: 10px;
    font-size: 14px;
    color: rgba(255,255,255,0.7);
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #f14729;
}


.forgot-pass a,
.signup-link a {
    color: #f14729;
    font-size: 13px;
    text-decoration: none;
}

.forgot-pass a:hover,
.signup-link a:hover {
    text-decoration: underline;
}


.btn {
    width: 100%;
    padding: 10px;
    background: #a1062a;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #a1062a;
}


.signup-link {
    text-align: center;
    margin-top: 20px;
}


* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
main h3{
    margin-bottom: 12px;

}
main h3 span {
  color: red;
}
.addtb {
  background: #fff;
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 15px;
}


.addtb-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.btn-target {
  background: #28a745;
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}
.filter-groupleft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.filter-bar select,
.filter-bar input {
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.filter-groupleft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.btn-search {
  background: #17a2b8;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-reset {
  background: #fd7e14;
  color: white;
  border: none;
  padding: 7px 14px;
  border-radius: 4px;
  cursor: pointer;
}


.table-wrapper {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

thead {
  background: #f1f3f5;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  white-space: nowrap;
}

.empty {
  padding: 20px;
  color: #888;
}

.footb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}


.footb .showing {
  font-size: 14px;
  color: #555;
  padding-left: 20px;
}

.footb .pagination {
  display: flex;
  gap: 4px;
  padding-left: 0;
}

.footb .pagination a,
.footb .pagination span {
  padding: 6px 10px;
  border: 1px solid #ddd;
  text-decoration: none;
  font-size: 14px;
  color: #007bff;
  border-radius: 4px;
}

.footb .pagination a.active {
  background: #3b82f6;
  color: #fff;
  border-color: #3b82f6;
}

.footb .pagination a:hover {
  background: #e9ecef;
}


.hed {
  box-sizing: border-box;
}


.nav-left {
  display: flex;
  align-items: center;
  gap: 3opx;
}

.logo {
  font-size: 20px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  width: 35px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.logo-light {
  font-weight: 300;
}

.logo-bold {
  font-weight: 700;
}

.menu {
  list-style: none;
  display: flex;
  padding-left: 600px;
  margin: 0;
  padding: 0;
}

.menu li a {
  text-decoration: none;
  color: #4adafa;
  font-size: 14px;
  opacity: 0.9;
}

.menu li a:hover {
  opacity: 1;
}


.icon {
  cursor: pointer;
}

.profile {
  background: #7fa6ff;
  padding: 6px 12px;
  border-radius: 4px;
}

.username {
  display: block;
  font-size: 13px;
  font-weight: 600;
}

tansaksi{
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  outline: none;
}

.transaksi:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.transaksi option {
  color: black;
}



.container {
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.cardp {
    width: 30%;
    text-align: center;
    font-style: italic;
}

.cardp img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.cardp p{
    margin-top: 10px;
    font-size: 15px;
    display: flex;
}


.glow {
    padding: 3px;
    border-radius: 10px;
    width: 500;
    background-color: rgb(225, 248, 240);
    background-size: 400% 400%;
  }

.glow img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    max-width: 100%;
}

.topnav {
    position: sticky;
    top: 0;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topnav a {
    color: cyan;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.topnav a:hover {
    color: white;
}
.sidebar{
display: flex;
align-items: center;
justify-content: center;
position: relative;
flex: 1;
margin: 10px;
max-width: 200px;
height: 300px;
border-radius: 10px;
}
.langkah{
display: flex;
align-items: center;
position: relative;
flex: 2;
margin: 10px;
max-width: 700px;
height: 300px;
margin: 10px;
border-radius: 10px;
}


@media (max-width: 768px) {.container
{
  flex-direction: column;
  padding: 10px;
}
}


.tour-container {
  width: 90%;
  max-width: 1100px;
  display: flex;
  gap: 30px;
}

.tour-schedule {
  flex: 1;
  background: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  position: relative;
}

.tour-schedule h3 {
  text-align: center;
  margin-bottom: 25px;
     color:rgb(11, 37, 64);

}


.car {
  position: absolute;
  top: -20px;
  right: 25px;
  font-size: 40px;
  animation: moveCar 3s ease-in-out infinite;
}

@keyframes moveCar {
  0% { transform: translateX(0); }
  50% { transform: translateX(-10px); }
  100% { transform: translateX(0); }
}


.schedule-item {
  display: grid;
  grid-template-columns: 80px 1fr 100px;
  gap: 10px;
  padding: 12px 15px;
  margin-bottom: 12px;
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  transition: 0.3s;
}

.schedule-item:hover {
  transform: translateX(5px);
  background: #eef6ff;
}

.day {
  font-weight: bold;
  color:rgb(11, 37, 64)
}

.place {
  color: #333;
}

.date {
  text-align: right;
  color: #666;
}


@media (max-width: 768px) {

  /*navbar*/
  .navbar {
    padding: 0 15px;
    height: auto;
    flex-wrap: wrap;
  }

  .nav {
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }

  .navbar a,
  .dropbtn {
    font-size: 14px;
  }

  /*content*/
  .content {
    padding: 90px 15px 20px;
  }

  main {
    margin-top: 70px;
  }

  /*form&card*/
  .formcard,
  .table {
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }

  /*table*/
  table {
    font-size: 12px;
  }

  /*footer table*/
  .footb {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .footb .pagination {
    margin-left: 0;
  }

  /*menu&container*/
  .menu {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container,
  .row {
    flex-direction: column;
    width: 100%;
  }

  .cardp {
    width: 100%;
  }

}

